In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
import matplotlib.pyplot as plt
from sklearn.metrics import mean_absolute_error
import numpy as np

from sklearn import preprocessing
from sklearn import utils

In [2]:
#df_train = pd.read_csv('train.csv', low_memory=False)
train_file = pd.read_csv('train.csv', low_memory=False)

In [3]:
n = train_file.shape[0]
train_size = 0.05

features_dataframe = train_file.sort_values('Response_ID')
df_train = features_dataframe.iloc[:int(n * train_size)]
#df_test = features_dataframe.iloc[int(n * train_size):]

In [4]:
df_train.head()

    Viewers_ID         Joke_identifier                    Response_ID  Rating
126     A10000  Klint De Drunk Enugu 3  A10000_Klint De Drunk Enugu 3   -1.77
128     A10000  Klint De Drunk Lagos 2  A10000_Klint De Drunk Lagos 2   -0.25
129     A10000  Klint De Drunk Lagos 3  A10000_Klint De Drunk Lagos 3    2.02
127     A10000     Klint De Drunk PH 2     A10000_Klint De Drunk PH 2    1.53
130     A10001  Klint De Drunk Enugu 2  A10001_Klint De Drunk Enugu 2    2.28

In [5]:
#df_train.describe

In [6]:
df_train.columns

Index(['Viewers_ID', 'Joke_identifier', 'Response_ID', 'Rating'], dtype='object')

In [7]:
# pairwise correlation
df_train.corr()

        Rating
Rating     1.0

In [8]:
df_train.isna().any()

Viewers_ID         False
Joke_identifier    False
Response_ID        False
Rating             False
dtype: bool

In [9]:
y_train = df_train.Rating
y_train.head(5)

126   -1.77
128   -0.25
129    2.02
127    1.53
130    2.28
Name: Rating, dtype: float64

In [10]:
df_train['Joke_identifier'] = pd.Categorical(df_train['Joke_identifier'])
joke_type_categories = df_train.Joke_identifier.cat.categories
df_train['Joke_identifier'] = df_train.Joke_identifier.cat.codes

/Users/ongwech/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/ongwech/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [11]:
df_train['Viewers_ID'] = pd.Categorical(df_train['Viewers_ID'])
viewer_type_categories = df_train.Viewers_ID.cat.categories
df_train['Viewers_ID'] = df_train.Viewers_ID.cat.codes

/Users/ongwech/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/ongwech/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [12]:
# from sklearn.preprocessing import LabelEncoder #to encode/give our type values a number value
# lb_make = LabelEncoder()
# df_train[['Joke_identifier']] = lb_make.fit_transform(df_train[['Joke_identifier']])
# df_train[['Viewers_ID']] = lb_make.fit_transform(df_train[['Viewers_ID']])
# df_train.head(10)

In [13]:
# print(utils.multiclass.type_of_target(df_train[['Joke_identifier']]))

In [14]:
# print(utils.multiclass.type_of_target(df_train[['Viewers_ID']]))

In [15]:
X_train = df_train[['Viewers_ID', 'Joke_identifier']]
X_train.head(5)

     Viewers_ID  Joke_identifier
126           3               91
128           3               93
129           3               94
127           3               96
130           4               90

In [16]:
# from sklearn.model_selection import GridSearchCV

# param_grid = [
# {'n_estimators':[100,1000], 'max_features': ['auto', 'sqrt', 'log2'], 'max_depth' : [4,8]}
# ]
# # {'n_estimators':[500,1000], 'max_features': ['auto', 'sqrt', 'log2'], 'max_depth' : [4,5,6,7,8]},
# # {'bootstrap':[False], 'n_estimators':[500,1000], 'max_features': ['auto', 'sqrt', 'log2'], 'max_depth' : [4,5,6,7,8]}

# forest_reg = RandomForestRegressor()

# grid_search = GridSearchCV(forest_reg, param_grid, cv=5, scoring='neg_mean_squared_error')

# grid_search.fit(X_train,y_train)

In [17]:
# grid_search.best_params_

In [18]:
# grid_search.best_estimator_

In [19]:
# print('done!')

In [20]:
model = RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=8,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [21]:
model.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=8,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [22]:
prediction_train_set = model.predict(X_train)

In [24]:
df_test = pd.read_csv('test.csv', low_memory=False)

In [25]:
df_test.head(5)

  Viewers_ID   Joke_identifier          Response_ID
0         A1  Akpororo Lagos 1  A1_Akpororo Lagos 1
1         A1  Akpororo Abuja 1  A1_Akpororo Abuja 1
2         A1  Akpororo Abuja 5  A1_Akpororo Abuja 5
3         A1  I Go Dye Benin 1  A1_I Go Dye Benin 1
4         A1  I Go Dye Benin 3  A1_I Go Dye Benin 3

In [26]:
df_test["Joke_identifier"] = pd.Categorical(df_test["Joke_identifier"], categories=joke_type_categories)
df_test["Joke_identifier"] = df_test.Joke_identifier.cat.codes

In [27]:
df_test["Viewers_ID"] = pd.Categorical(df_test["Viewers_ID"], categories=viewer_type_categories)
df_test["Viewers_ID"] = df_test.Viewers_ID.cat.codes

In [28]:
X_test = df_test[['Viewers_ID', 'Joke_identifier']]
X_test.head(5)

   Viewers_ID  Joke_identifier
0          -1               14
1          -1                9
2          -1               13
3          -1               80
4          -1               82

In [29]:
test_predictions = model.predict(X_test)

In [30]:
df_submit = pd.read_csv('SampleSubmission.csv', low_memory=False)

In [31]:
d = {'Response_ID': df_submit["Response_ID"], 'Rating': test_predictions}
df_predictions = pd.DataFrame(data=d)
df_predictions = df_predictions[['Response_ID','Rating']]

In [32]:
#df_predictions.Rating = df_predictions.Rating.astype(int)
#df_predictions.number_of_ticket = df_predictions.number_of_ticket.astype(int)

In [33]:
df_predictions.to_csv('ratings_prediction.csv', index=False) #save to csv file

In [34]:
df_predictions.head()

           Response_ID    Rating
0  A1_Akpororo Lagos 1  1.752565
1  A1_Akpororo Abuja 1  1.282510
2  A1_Akpororo Abuja 5  0.854131
3  A1_I Go Dye Benin 1  0.719117
4  A1_I Go Dye Benin 3  0.865849